<div class="card mat-card bg-light">
  <div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-outline-success btn-light shadow position-absolute top-0 start-50 translate-middle" routerLink="/nuevaexp" *ngIf="isLogged">
        + Agregar experiencia
      </button>
    </div>
    <div class="col-lg-md-sd">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td>
              <h5>{{Experiencia.nombreE}}</h5>
            </td>
            <td>{{Experiencia.descripcionE}}</td>
            <br>
            <td>{{Experiencia.dateE}}</td>
            <td *ngIf="isLogged">
              <button class="btn btn-ligh" routerLink="/editexp/{{Experiencia.id}}"><i class="fa fa-pen"></i>
              </button> 
              </td>

            <td *ngIf="isLogged">
              <button class="btn btn-light shadow" (click)="delete(Experiencia.id)">
                <i class="bi bi-trash-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>